{
  "extends": [
    "plugin:vue/recommended"
  ],
  "env": {
    "node": true,
    "browser": true,
    "es6": true,
    "mocha": true
  },
  "parserOptions": {
    "parser": "babel-eslint",
    "sourceType": "module"
  },
  "rules": {
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "always"
    ],
    "array-bracket-spacing": [
      "error",
      "never"
    ],
    "no-unused-vars": [
      "error",
      { "vars": "all", "args": "after-used", "ignoreRestSiblings": false }
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "comma-dangle": [
      "error",
      "only-multiline"
    ]
  }
}
